<div class="form">
    <label for="formCat">Category: </label>
    <br>
    <input type="text" id="formCat">
    <br>
    <label for="formName">Burger Name: </label>
    <br>
    <input type="text" id="formName">
    <br>
    <label for="formImage">Image Link: </label>
    <br>
    <input type="text" id="formImage">
    <br>
    <label for="formCal">Calories: </label>
    <br>
    <input type="number" id="formCal" placeholder="Calories in number">
    <br>
    <label for="formDesc">Description: </label>
    <br>
    <textarea id="formDesc" cols="30" rows="10" placeholder="some description"></textarea>
    <br>
    <button>Send</button>
</div>